:root {
  --vp-c-indigo-1: #DC143C;
  --vp-c-indigo-2: #DC143C;
  --vp-c-indigo-3: #DC143C;
}

.VPDoc .container .aside {
  display: none;
}
.pager {
  display: none;
}


.VPSidebar .nav .items .is-link:nth-child(-n+4) .item .text {
   /* font-weight: bold !important; */
   /* color: var(--vp-c-indigo-1) !important; */
}
